flask
flask-cors
sqlalchemy~=2.0.37
comtypes
Pillow
typing-extensions
pyperclip
pywin32
openai==1.84.0
httpx>=0.25.0
pyautogui
werkzeug
psutil
filelock
requests
beautifulsoup4
lxml

wxautox_wechatbot==39.1.3
uiautomation
buttplug-py==0.2.0flask-sock
